extends layout

block content
  h3 予定の編集
  form(method="post", action=`/posts/${column.columnId}?edit=1`)
    div
      h5 予定名
      input(type="text" name="columnName" value=column.columnName)
    div
      h5 本文
      textarea(name="memo") #{column.memo}
    
    div
      button(type="submit") 以上の内容で予定を編集する
