extends layout

block content
  form(method="post", action="/posts").my-3
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="columnName") コラム名
      input(type="text" name="columnName")#columnName.form-control
    div.form-group
      label(for="memo") 投稿者名
      input(type="text" name="columnAuthor")#memo.form-control
    div.form-group
      label(for="memo") コラム本文
      textarea(name="memo")#memo.form-control
    
    button(type="submit").btn.btn-info コラムを応募する